certifi==2023.7.22+computecanada
charset-normalizer==3.3.0
gluonts==0.13.5
graphviz==0.8.4+computecanada
idna==3.4+computecanada
mxnet==1.9.1+computecanada
numpy==1.23.5+computecanada
orjson==3.9.7+computecanada
pandas==2.1.0+computecanada
pydantic==1.10.13
python-dateutil==2.8.2+computecanada
pytz==2023.3.post1+computecanada
requests==2.31.0+computecanada
six==1.16.0+computecanada
toolz==0.12.0+computecanada
tqdm==4.66.1+computecanada
typing_extensions==4.8.0
tzdata==2023.3+computecanada
urllib3==2.0.6
